Alien-RDDtool-*
.*
!.gitignore
!.shipit
!.dim.pl
*.o
*.obj
*.bs
*.def
Makefile*
!Makefile.PL
*blib
MYMETA.*
*.out
*.bak
*.old
*~
*.swp
ppport.h
nytprof*
cover_db*
*.gcda
*.gcno
*.gcov
*.stackdump
rrdtool*
_build
Build
alien
